[submodule "dotvim/bundle/nerdcommenter"]
	path = dotvim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/snipmate"]
	path = dotvim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "dotvim/bundle/IndexedSearch"]
	path = dotvim/bundle/IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "dotvim/bundle/TaskList"]
	path = dotvim/bundle/TaskList
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "dotvim/bundle/ScrollColors"]
	path = dotvim/bundle/ScrollColors
	url = git://github.com/vim-scripts/ScrollColors.git
[submodule "dotvim/bundle/vim-bufexplorer"]
	path = dotvim/bundle/vim-bufexplorer
	url = git://github.com/edsono/vim-bufexplorer.git
[submodule "dotvim/bundle/vim-trailing-whitespace"]
	path = dotvim/bundle/vim-trailing-whitespace
	url = git://github.com/bronson/vim-trailing-whitespace.git
[submodule "dotvim/bundle/kwbdi"]
	path = dotvim/bundle/kwbdi
	url = git://github.com/vim-scripts/kwbdi.vim.git
[submodule "dotvim/bundle/YankRing"]
	path = dotvim/bundle/YankRing
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "dotvim/bundle/ack"]
	path = dotvim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "dotvim/bundle/supertab"]
	path = dotvim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "dotvim/bundle/vim-surround"]
	path = dotvim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "dotvim/bundle/vim-fugitive"]
	path = dotvim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/Command-T"]
	path = dotvim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "dotvim/bundle/vim-space"]
	path = dotvim/bundle/vim-space
	url = git://github.com/christoomey/vim-space.git
