[submodule "dotvim/bundle/nerdcommenter"]
	path = dotvim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/snipmate"]
	path = dotvim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "dotvim/bundle/vim-space"]
	path = dotvim/bundle/vim-space
	url = git://github.com/scrooloose/vim-space.git
[submodule "dotvim/bundle/IndexedSearch"]
	path = dotvim/bundle/IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "dotvim/bundle/TaskList"]
	path = dotvim/bundle/TaskList
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "dotvim/bundle/ScrollColors"]
	path = dotvim/bundle/ScrollColors
	url = git://github.com/vim-scripts/ScrollColors.git
