snippet erb
	{{${1:statement}}}
snippet with
	{{#with ${1:context}}}
		${2:value}
	{{/with}}
snippet each
	{{#each ${1:list}}}
		${2:this}
	{{/each}}
snippet com
	{{!${1:comment}}}
snippet par
	{{> ${1:partial} ${2:context}}}
